<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/auth_&_reg.css' %}">
    <script>
        const csrf_token = '{{ csrf_token }}';
        const url_form = "{% url 'reg_user' %}"; // url на регистрацию. url to registration
        const url_base = "{% url 'index' %}" // url главной страницы. url index
    </script>
</head>
<body>
<div class="centered-container">
    <div class="login-container">
        <form id="registrationForm" method="POST">
            {% csrf_token %}
            <h2>Регистрация</h2>
            <input type="text" name="user" id="username" placeholder="Имя пользователя" required>
            <input type="password" name="password" id="password" placeholder="Пароль" required>
            <button type="button">Зарегистрироваться</button>
            <div id="message" style="color: red;"></div>
            <div class="message" style="color: red; font-size: 16px"></div>
            <a href="{% url 'auth_form' %}" class="linkAuth">Уже есть акканут?</a>
        </form>
    </div>
</div>
<a href="{% url 'index' %}" class="apply-button">На главную</a>
</body>
<script src="{% static 'js/registration.js' %}"></script>
</html>
