:root {
    --button-color: #235021;
    --button-event-color: green;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://avatars.mds.yandex.net/get-mpic/5236304/img_id1635232895567014387.jpeg/orig");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.change-name-container, .change-password-container {
    position: relative;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    background-color: rgba(204, 204, 204, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    margin: 20px;
    overflow: hidden;
}

.change-name-container::before, .change-password-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://avatars.mds.yandex.net/get-mpic/5236304/img_id1635232895567014387.jpeg/orig");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

.change-name-form, .change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 2.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: border-color 0.2s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #376b2a;
    outline: none;
}

/* Кнопка */
button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--button-event-color);
}

@media (max-width: 600px) {
    .change-name-container, .change-password-container {
        width: 95%;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    input[type="text"], input[type="password"] {
        font-size: 1rem;
    }

    button {
        font-size: 1rem;
    }
}

.apply-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
}

.apply-button:hover {
    background-color: var(--button-event-color);
}

@media (max-width: 768px) {
    .apply-button {
        top: 10px;
        right: 10px;
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}