html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Основной контейнер — флекс по вертикали */
.main-wrapper {
    display: flex;
    flex-direction: column; /* делит на колонку */
    width: 100%;
    height: 100%;
}

/* Контейнер для 3D модели */
.model-container {
    width: 100%;
    border: 2px solid #170f0f;
    box-sizing: border-box;
    overflow: auto;
}

/* Контейнер для 3D модели — занимает верхнюю часть */
.model-container {
    height: 100%; /* можно изменить по желанию */
    background-color: #b1c5f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стиль для 3D модели */
.model-viewer {
    display: block;
    width: 100%;
    height: 100%;
}

.to-basket {
    width: 100%;
    background-color: red;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: black;
}

.to-basket:hover {
    background-color: #a80101;
}

.back-button {
    position: fixed;
    top: 7%;
    right: 3%;
    background-color: #0d6efd;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
    width: 120px;
    height: 40px;
}


